.page_container {
  margin-top: 50px;
  display: none;
}
.page_header {
  margin-bottom: 20px;
  font-size: 20pt;
}
.panel {
  text-align: center;
}
#navbar .nav>li {
  display:none;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul:hover > a {
  background-color: #9acfea;
}

.sales_header {
  font-size: 14pt;
  font-weight: bold;
}
.sales_header p {
  margin-bottom: 0px;
  font-size: 10pt;
  font-weight: 200;
}
#ytd_sales,
#mtd_sales {
  padding: 0px;
}
#ytd_sales table,
#mtd_sales table {
  margin-bottom: 0px;
}
#ytd_sales table tr,
#mtd_sales table tr {
  border-top: 0px;
}
#ytd_sales table th,
#mtd_sales table th {
  text-align: center;
  vertical-align: middle;
}
#ytd_sales table td.company_name,
#mtd_sales table td.company_name {
  text-align: right;
  font-weight: bold;
  width: 175px;
}
#ytd_sales table tr td:first-child,
#mtd_sales table tr td:first-child {
  border-left: 0px;
}
#ytd_sales table tr td,
#mtd_sales table tr td {
  border-left: 1px solid #ddd;
  vertical-align: middle;
}
#ytd_sales table tr.total_row,
#mtd_sales table tr.total_row {
  border-top: 2px solid #ddd;
}
.list-group-item {
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.list-group-item i.fa-file-excel-o {
  color: #1abc9c;
}
.list-group-item i.fa-file-pdf-o {
  color: #c0392b;
}
.list-group-item i.fa-file-text-o {
  color: #3498db;
}
.edit_contain {
position: absolute;
top: 20px;
right: 15px;
height: 50px;
text-align: center;
width: 50px;
border-radius: 50px;
border: 3px solid #2980b9;
color: #2980b9;
font-size: 18pt;
}
.edit_contain i {
  vertical-align: -7px;
}
.user_item:hover .edit_contain {
  border-color: #3498db;
  color: #3498db
}
#loading {
  margin-top: 20px;
  width: 168px;
  height: 168px;
  margin: 0 auto;
}
.width_100 {
  min-width: 100px;
}
.width_110 {
  min-width: 110px;
}
.width_120 {
  min-width: 120px;
}
.width_130 {
  min-width: 130px;
}
.width_140 {
  min-width: 140px;
}
.width_150 {
  min-width: 150px;
}
.width_160 {
  min-width: 160px;
}
.width_170 {
  min-width: 170px;
}
.width_180 {
  min-width: 180px;
}
.text_right {
  text-align: right;
}
#inventory_list tfoot td {
  font-weight: bold;
}
.internal_button_link {
  background: transparent;
  outline: none;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden
}